parameters:
    tmpDir: %currentWorkingDirectory%/tools/.cache/phpstan
    level: max
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
    parallel:
        maximumNumberOfProcesses: 2
