<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
        bootstrap="./../tests/bootstrap.php"
        colors="true"
        stopOnFailure="true"
        cacheDirectory="./.cache/.phpunit.cache"
>
    <testsuites>
        <testsuite name="Functional">
            <directory>./../tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./../src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="./.cache/coverage.xml"/>
            <html outputDirectory="./.cache/coverage-html"/>
        </report>
    </coverage>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
        <server name="KERNEL_CLASS" value="Fabricity\Bundle\ViteBundle\Tests\Kernel" />
    </php>
</phpunit>
