name: Tests

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    tests:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php: [ '8.4','8.5' ]
                symfony: [ '6.4', '7.4', '8.*' ]

        name: PHPUnit (PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }})
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php-version }}"
                    coverage: none
                    tools: composer:v2

            -   name: Install dependencies (restrict Symfony version)
                env:
                    SYMFONY_REQUIRE: "${{ matrix.symfony }}"
                run: |
                    composer global require --no-progress --no-scripts --no-plugins symfony/flex
                    composer update --prefer-stable --prefer-dist --no-interaction --no-plugins --no-scripts --no-progress

            -   name: Run PHPUnit
                run: vendor/bin/phpunit -c tools/phpunit.xml.dist --colors=always --no-coverage