name: Tests

on:
    pull_request:
    push:
        branches:
            - main

env:
    PHP_VERSION: 8.4

jobs:
    tests:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php: ['8.4','8.5']
                symfony: ['6.4', '7.4', '8.*']

        name: PHPUnit (PHP ${{ env.PHP_VERSION }}, Symfony ${{ matrix.symfony }})
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ env.PHP_VERSION }}
                  coverage: none
                  tools: composer:v2

            - name: Install dependencies (restrict Symfony version)
              run: |
                  composer update --prefer-stable --prefer-dist --no-interaction --no-progress --no-scripts
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SYMFONY_REQUIRE: ${{ matrix.symfony }}

            - name: Run PHPUnit
              run: vendor/bin/phpunit -c tools/phpunit.xml.dist --colors=always